<%- include('partials/header') %>

<!-- slider_area_start -->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider d-flex align-items-center slider_bg_1 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Забота о вашем здоровье <br> начинается здесь</h3>
                            <a href="/products" class="boxed-btn3">Перейти в каталог</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider d-flex align-items-center slider_bg_2 overlay">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9 col-md-9 col-md-12">
                        <div class="slider_text text-center">
                            <h3>Широкий ассортимент <br> лекарств и витаминов</h3>
                            <a href="/products" class="boxed-btn3">Перейти в каталог</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- slider_area_end -->


<!-- Popular products area start -->
<div class="Delicious_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-50">
                    <h3>Популярные товары</h3>
                </div>
            </div>
        </div>
        <div class="row">
    <% popularProducts.forEach(function(product) { %>
        <div class="col-md-6 col-lg-6">
            <a href="/product/<%= product.id %>" class="single_delicious d-flex align-items-center text-decoration-none">
                <div class="thumb">
                    <img src="<%= product.image %>" alt="<%= product.name %>">
                </div>
                <div class="info">
                    <h3><%= product.name %></h3>
                    <p><%= product.description %></p>
                    <span><%= product.price %> руб.</span>
                </div>
            </a>
        </div>
    <% }); %>
</div>
        <div class="row mt-4">
            <div class="col-xl-12 text-center">
                <a href="/products" class="boxed-btn3">Смотреть весь каталог</a>
            </div>
        </div>
    </div>
</div>
<!-- Popular products area end -->

<%- include('partials/footer') %>